<hr>
<div>
	<strong>Courses Really Worth Doing</strong>
	<ul>
		<li>
			<a href="http://www.dpbolvw.net/click-9183981-13680399?url=https%3A%2F%2Fwww.udacity.com%2Fcourse%2Fdata-structures-and-algorithms-nanodegree--nd256&cjsku=nd-unit-offering_nd256_10195" target="_top">Nanodegree in Data Structures and Algorithms</a>
		</li>
		<li>
			<a href="https://click.linksynergy.com/deeplink?id=*HkhDOSZorQ&mid=40328&murl=https%3A%2F%2Fwww.coursera.org%2Flearn%2Falgorithms-part1" target="_top">Master the fundamentals of algorithms offered by Princeton University</a>
		</li>
		<li>
			<a href="https://click.linksynergy.com/deeplink?id=*HkhDOSZorQ&mid=39197&murl=https%3A%2F%2Fwww.udemy.com%2Fcourse%2Funrealcourse%2F" target="_top">Learn C++ from basics, by making games in Unreal engine</a>
		</li>
	</ul>
</div>
<hr>
